.loc-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 45;
}

.location-form {
  background-color: var(--bg3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dialog-actions button {
  background-color: var(--color2);
  color: black;
  border: 3px black solid;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-actions button:hover {
  background-color: lightgreen;
}

.dialog-actions button[type='button']:hover {
  background-color: red;
}

.dialog-actions button:hover {
  opacity: 0.8;
}

input[type='text'],
input[type='range'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid var(--bg3);
  border-radius: 5px;
  box-sizing: border-box;

  font-size: 1.3rem;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: #ddd;
  outline: none;
  border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--bg3);
  cursor: pointer;
  border-radius: 50%;
}

input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}
