body {
  background-color: var(--bg1);
  color: #eee;
  overflow-x: hidden;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

header {
  background-color: var(--bg2);
  color: aliceblue;
  padding: 0.3em;
}

header h1 {
  margin: 0;
  letter-spacing: 0.4rem;
  text-shadow: 2px 8px var(--bg3);
}

input[type='text'],
input[type='number'] {
  line-height: 2em;
  background-color: var(--color1);
  border: 0;
}

button {
  color: whitesmoke;
  border: 0;
  border-radius: 0.5em;
  background-color: #222;
  padding: 6px 10px;
  margin: 2px;

  font-size: 1.2rem;

  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: var(--color2);
}

.muted {
  font-size: 0.9em;
  color: var(--gray1);
}

.smaller {
  font-size: 0.8em;
}
