/* Template Colors */
/* #F5EDED
#E2DAD6
#7FA1C3
#6482AD */

/* :root {
  --bg1: darkslateblue;
  --bg2: darkorchid;
  --bg3: darkmagenta;
  --color1: aliceblue;
  --color2: deeppink;
  --color3: gold;
  --color4: goldenrod;
  --gray1: lightgray;
} */

/* Another theme */
:root {
  --bg1: #7fa1c3;
  --bg2: #7fa1c3;
  --bg3: #6482ad;

  --color1: #e2dad6;
  --color2: #e2dad6;
  --color3: #e2dad6;
  --color4: #e2dad6;

  --gray1: #7fa1c3;
}
